# Core functionality - changes here should be rare!
/src/app.py                   @GeneroseRol
/src/backend/database.py      @GeneroseRol
/src/backend/routers/auth.py  @GeneroseRol

# The frontend will need refactored soon to be more object oriented.
/src/static/   @GeneroseRol
